/* Large desktop */
@media (min-width: 1200px) {


}

@media (max-width: 1200px) {


  .callouts{
    font-size: 28px;
  }
  
  .section-mission .callouts{
    margin-top: 50px;
  }

  .section-flagship .callouts{
    margin-top: 60px;
  }

  .section-team .callouts .callouts{
   margin-top: 40px; 
  }

}



/* Tablet and smaller */
@media (max-width: 979px) {
  html, body{
    padding-left: 0px;
    padding-right: 0px;
    margin-top: 0px;
    font-size: 12px;
  }

  .navbar-inverse .nav{
    float: none;
  }


  .navbar{
    width: 100%;
  }
  .navbar-inner{
    padding-left: 20px;
    padding-right: 20px;
  }

  .navbar-fixed-top,
  .navbar-fixed-bottom,
  .navbar-static-top {
    margin-right: 0px;
    margin-left: 0px;
  }


  .navbar-fixed-bottom {
    margin-top: 0px;
  }
    .navbar-fixed-top {
    margin-bottom: 0px;
  }

  .section .asset img{
    width: 60%;
  }

  .section-flagship .asset img{
    width: 40%;
  }


  .section-team .asset img{
    width: 70%;
  }

  .headline{
    height: 300px;
  }
  
  .headline h1{
    top: 100px;
  }

  .headline a{
    position: relative;
    z-index: 10;
    top: 125px;
  }

  .headline img{
    height: 60px;
  }

  .callouts{
    font-size: 20px;
  }

  .section-mission .callouts{
    margin-top: 80px;
  }

  .section-flagship .callouts{
    margin-top: 70px;
  }

  .section-team .callouts{
    margin-top: 65px;
  }

  .headline a div, .section .arrow div{
    height: 50px;
    width: 50px;
    background-image: url(../img/AllArrows50.png);
  }

  .section .arrow div:hover{
    background-position: -50px -50px;
  }

  .headline a div{
    background-position: 0px -50px;
  }

  .headline a div:hover{
    background-position: -50px -50px;
  }



}


/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 979px) { 

}
 
/* Landscape phone to portrait tablet */
@media (max-width: 767px) { 
  .section, .footer{
    padding-left: 20px;
    padding-right: 20px;
  }


  .headline h1{
    font-size: 65px;
  }

  .spacer{
    height: 150px;
  }


  .callout{
    margin-top: 0px !important;
  }

  .footer .address{
    text-align: left;
    margin-top: 30px;
    margin-bottom: 25px;
  }

  .footer{
    text-align: left;
    margin-bottom: 40px;
  }

  .footer .copy{
    top: 0px;
    height: 30px;
    text-align: left;
  }

  .callouts{
    margin: 0 !important;
    text-align: center !important;
    font-size: 26px;
    width: 100%;
    overflow: auto;
  }
  .callouts span{
    display: inline !important;
  }


}
 
/* Landscape phones and down */
@media (max-width: 480px) {
  .headline{
    height: 150px;
  }
  
  .headline h1{
    top: 40px;
    font-size: 40px;
  }

  .headline a{
    position: relative;
    z-index: 10;
    top: 30px;
  }

  .headline img{
    height: 40px;
  }



  .section .asset img{
    width: 90%;
  }

  .callouts{
    font-size: 20px;
  }




}