

@font-face {
  font-family: 'Fauna One';
  font-style: normal;
  font-weight: 400;
  src: local('Fauna One'), local('FaunaOne-Regular'), url(http://themes.googleusercontent.com/static/fonts/faunaone/v1/cSd7NBXNFQWK4oX1706dY7O3LdcAZYWl9Si6vvxL-qU.woff) format('woff');
}


@font-face {
  font-family: 'Offside';
  font-style: normal;
  font-weight: 400;
  src: local('Offside'), local('Offside-Regular'), url(http://themes.googleusercontent.com/static/fonts/offside/v1/kXtToyuSIeDzSauH8LQwXALUuEpTyoUstqEm5AMlJo4.woff) format('woff');
}


@font-face {
  font-family: 'BenchNine';
  font-style: normal;
  font-weight: 700;
  src: local('BenchNine Bold'), local('BenchNine-Bold'), url(http://themes.googleusercontent.com/static/fonts/benchnine/v1/qZpi6ZVZg3L2RL_xoBLxWaRDOzjiPcYnFooOUGCOsRk.woff) format('woff');
}


@font-face {
  font-family: 'Knewave';
  font-style: normal;
  font-weight: 400;
  src: local('Knewave'), local('Knewave-Regular'), url(http://themes.googleusercontent.com/static/fonts/knewave/v2/QoIkQCg7-RvNFDCSqflgfQLUuEpTyoUstqEm5AMlJo4.woff) format('woff');
}


@font-face {
  font-family: 'Concert One';
  font-style: normal;
  font-weight: 400;
  src: local('Concert One'), local('ConcertOne-Regular'), url(http://themes.googleusercontent.com/static/fonts/concertone/v4/eNLG875uBc3mU2X9z56PW7rIa-7acMAeDBVuclsi6Gc.woff) format('woff');
}


* {
  margin: 0;
  padding: 0;
}


html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: 'Fauna One', "HelveticaNeue", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 400;
  font-size: 13px;
  line-height: 22px;
  background-color: #B1F1FE;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}

a{
  color: #3AD7FC;
}

.scrollable{
  overflow: hidden;
}


.center{
  text-align: center;
}


.navbar-inverse .navbar-inner {
  
  background-color: rgba(51, 51, 51, .80);
  background-image: none;
  background-repeat: repeat-x;
  border-color: #333;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff222222', endColorstr='#ff111111', GradientType=0);
}

.navbar-inverse .nav .active{
  height: 44px;
}

.navbar-inverse .nav .active > a,
.navbar-inverse .nav .active > a:hover,
.navbar-inverse .nav .active > a:focus {
  color: #fff;
  background-color: rgba(51, 51, 51, .35);
  border: none;
  height: 22px;
  outline: none;
}


.brand{
  position: relative;
  text-shadow: none;
  font-family: 'Concert One', "HelveticaNeue", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  display: table-cell;
  vertical-align: middle;
}

.brand img{
  top: 6px;
  position: absolute;
  height: 30px;
}

.brand span{
  color: #fff;
  padding-left: 30px;
  text-shadow: none;
  font-size: 22px;
  position: relative;
  top: -3px;
}

.navbar-inverse .nav{
  float: right;
}

.navbar-inverse .nav > li > a{
  font-size: 14px;
  padding: 12px 15px 10px;
}


.navbar-inverse .btn-navbar {
  color: #ffffff;
  background-color: transparent;
  *background-color: transparent;
  background-image: none;
  border-color: transparent;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
       box-shadow: none;
}



.navbar-inverse .btn-navbar:hover,
.navbar-inverse .btn-navbar:focus,
.navbar-inverse .btn-navbar:active,
.navbar-inverse .btn-navbar.active,
.navbar-inverse .btn-navbar.disabled,
.navbar-inverse .btn-navbar[disabled] {
  color: #ffffff;
  background-color: rgba(51, 51, 51, .35);
  *background-color: rgba(51, 51, 51, .35);
}


.navbar .btn-navbar .icon-bar {
  display: block;
  width: 18px;
  height: 2px;
  background-color: #fff;
}


.navbar-inverse .nav-collapse .nav > li > a,
.navbar-inverse .nav-collapse .dropdown-menu a {
  color: #fff;
  text-shadow: none;
}


.navbar-inverse .nav-collapse .nav > li > a:hover,
.navbar-inverse .nav-collapse .nav > li > a:focus,
.navbar-inverse .nav-collapse .dropdown-menu a:hover,
.navbar-inverse .nav-collapse .dropdown-menu a:focus {
  background-color: rgba(51, 51, 51, .35);
}


.navbar-fixed-top .navbar-inner,
.navbar-fixed-bottom .navbar-inner {
  padding: 0px;
}

.nav-collapse .nav {
  margin: 0 0 -2px;
}

.nav-collapse .nav > li > a,
.nav-collapse .dropdown-menu a {
  -webkit-border-radius: 0px;
     -moz-border-radius: 0px;
          border-radius: 0px;
}
.nav-collapse .btn {
  -webkit-border-radius: 0px;
     -moz-border-radius: 0px;
          border-radius: 0px;
}


.btn{
  border-radius: 0px;
}

.section{
  background-color: #fff;
  padding: 30px 0px;
  border-top: solid 2px #eee;
  border-bottom: solid 2px #eee;
}

.section p{
  text-align: justify;
  margin: 10px 0px;
}

.section .arrow{
  text-align: center;
}

.section .arrow img{
  height: 70px;
}

.headline a div, .section .arrow div{
  height: 70px;
  width: 70px;
  background-position: 0px 0px;
  margin: 0 auto;
  background-image: url(../img/AllArrows.png);
  z-index: 10;
  position: relative;
}

.section .arrow{
  margin-top: 10px;
}

.section .arrow div:hover{
  background-position: -70px -70px;
}

.headline a div{
  background-position: -70px 0px;
}

.headline a div:hover{
  background-position: 0px -70px;
}



.doodle-wrap, .doodle{
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  margin: 0;
  background-attachment: fixed;
  background-position: 50% 0px;
  background-size: cover;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  margin: 0 auto;

}

.doodle-top{
  background-image: url(../img/Top2000x1200.png);
  z-index: 3;
}


.doodle-middle{
  background-image: url(../img/Middle2000x1200.png);
  z-index: 2;
}


.doodle-back{
  background-image: url(../img/Back2000x1200.png);
  z-index: 1;
}

.headline{
  font-family: 'BenchNine', serif;
  color: #333;
  text-align: center;
  line-height: 48px;
  height: 550px;
  position: relative;
}

.headline h1{
  position: relative;
  top: 230px;
  font-size: 80px;
  z-index: 10;
  margin-top: 0;
}


.headline a{
  position: relative;
  z-index: 10;
  top: 260px;
}

.headline img{
  height: 70px;
}

.headline img:hover{
  opacity: .8;
}


.spacer{
  position: relative;
  height: 200px;
}

.section .asset{
  text-align: center;
  margin-bottom: 20px;
}

.section .asset img{
  width: 40%;
}

.spacer-mission .doodle{
  background-position: 50% -1000px;
}


.spacer-mission .doodle-middle{
  background-position: 50% -1500px;
}


.spacer-flagship .doodle{
  background-position: 50% 700px;
}


.section-flagship .asset img{
  width: 30%;
}




.spacer-flagship .doodle-middle{
  background-position: 50% -700px;
}




.footer{
  font-family: "HelveticaNeue", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  background-color: #333;
  text-align: center;
  color: #fff;
  font-size: 12px;
  padding-top: 25px;
  padding-bottom: 5px;
  position: relative;
}

.footer .title{
  font-size: 18px;
  font-weight: 700px;
  margin-bottom: 5px;
}


.footer .contact{
  text-align: left;
}

.footer .address{
  text-align: right;
}


.footer a{
  color: #fff;
  position: relative;
  z-index: 2;
}

.footer .copy{
  position: relative;
  top: -15px;
  margin: 0;
  text-align: center;
  z-index: 1;
}

.investors{
  text-align: center;
}
.investors .gc{
  background-color: #1c1c1c;
  padding: 10px;
  margin-right: 10px;
  margin-bottom: 10px
}


.investors .ev{
  background-color: #282B37;
  padding: 10px;
  margin-right: 10px;
  margin-bottom: 10px
}


.investors .ss{
  width: 175px;
  position: relative;
  top: -5px;
}


.callouts{
  font-family: 'Knewave', cursive;
  font-weight: 900;
  font-size: 30px;
  line-height: 34px;
  text-align: left !important;
  margin-left: 10px;
}

.callouts span{
  margin-bottom: 0px;
  margin-top: 0px;
  text-align: left !important;
  display: block;
}

.section-mission .callouts, .section-team .callouts{
  margin-top: 40px ;
}


.section-flagship .callouts{
  margin-top: 30px ;
}

